<section class="heading">
<p class="title-small">DOEL</p>
<h2>Naar je volgende handicap</h2>
</section>
<section class="component">

    <span class="label">Doel Handicap</span>
    <section class="pntn-teller">
      <button class="btn" onclick="updateScore(-0.1)">−</button>
      <p class="score-display" id="score">9.6</p>
      <button class="btn" onclick="updateScore(0.1)">+</button>
    </section>

</section>
