:root {

    --color-1: black;
    --color-2: white;
    --color-3: lightgrey;
    --color-4: blue;


    --title-small: font-size: 1em;
}


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, sans-serif;
}

main {
    background: var(--color-3);
    height: 300vh;
    width: 100vw;
    padding-top: 5em;

    display: grid;
    justify-content: center;
}

header {
    padding: 2em;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: sticky;
}

h1 {
    font-size: 1.5em;
}

section.heading {
    padding: 1em 0 1em 1em;
}

section.component {
    margin: 0 1em 0 1em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    background: var(--color-2);
    box-shadow: 0px -1px 5px grey;

    @media (min-width: 375px) {
        width: 300px;
    }

    @media (min-width: 600px) {
        width: 500px;
    }

    @media (min-width: 800px) {
        width: 700px;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-1);
}

a.active {
    text-decoration: underline;
}

p.title-small {
    font-size: var(--title-small);
}

ol.golfer-ranking {
    /* padding-left: 1em; */

    li {
        padding: 0.5em 1em 0.5em 1em;
        border-bottom: 0.1em solid;
        display: flex;
        justify-content: space-between;
    }
}

ul.golfer-ranking {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 1em 0;

    li {
        list-style: none;
    }
}

/* section.pntn-teller {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;

    .btn {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 2px solid var(--color-3);
        background: var(--color-2);
        cursor: pointer;
    }
} */